/* Global */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  margin: 0 30px;
  font-weight: normal;
}

/* contagem regressiva */
#countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  padding: 20px;
  color: #ffffff;
  font-family: "inter", sans-serif;
  margin-bottom: 20px;
}

.countdown {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaçamento entre a contagem e a data */
}

.time {
  font-size: 36px; /* Tamanho da contagem regressiva */
  font-weight: bold;
}

.date {
  font-size: 18px; /* Tamanho da data */
  opacity: 0.8; /* Um pouco de transparência na data */
}

/* Header */

#header {
  height: 60px;
  background: #295f4a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Headline Section */

#headline-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

#headline-section h2 {
  margin-top: 30px;
}

#headline-section h3 {
  font-weight: normal;
}

.highlight {
  font-weight: bold;
}

/* Button */
.buy-button {
  display: block;
  margin: 20px auto;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: #295f4a;
  color: white;
}

/* Problema */
.info-container {
  text-align: center;
}
.info-container h3 {
  margin: 30px;
}

.info-container h2 {
  color: white;
  background: #295f4a;
  padding: 15px 0;
}

/* Bulletpoints */
#bulletpoints {
  padding: 20px 0;
}
.bulletpoints-container ul {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
}

.bulletpoints-container h2 {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.bulletpoints-container h3 {
  font-weight: bold;
}

.bulletpoints-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-align: center;
}

.bulletpoints-container span {
  font-size: 50px;
  color: #295f4a;
}

/* Visual bulletpoints */
#visual-bulletpoints {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#visual-bulletpoints h2 {
  width: 100%;
  color: white;
  background: #295f4a;
  padding: 20px;
  margin-bottom: 20px;
}


/* Oferta */

#offer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.offer-container {
  position: relative;
}

.forever-access {
  color: white;
  padding: 5px;
  background: purple;
  position: absolute;
  top: 99px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.super-offer-text {
  background: #42ae30;
  padding: 20px;
  color: white;
  position: relative;
  overflow: hidden;
}

.best-seller {
  transform: rotate(-35deg);
  padding: 10px;
  background: yellow;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: 20px;
  left: -50px;
  width: 200px;
}

.simple-offer-container,
.offer-container {
  text-align: center;
  background: #f4eee7;
  width: 550px;
}

.simple-offer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.simple-offer {
  font-size: 30px;
}


.offer-container ul,
.simple-offer-container ul {
  display: inline-block;
  margin: 20px auto;
}

.offer-container ul {
  margin-top: 30px;
}

.offer-container ul span, 
.simple-offer-container ul span{
  color: white;
  background: #42ae30;
  border-radius: 3px;
}

.simple-offer-container ul .close {
  background: red;
  color: white;
}

.offer-container li,
.simple-offer-container li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.simple-offer-buy-button {
  border: none;
  padding: 10px;
  background: #295f4a;
  margin: 0 auto;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.prices-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.offer-container .old-price {
  text-decoration: line-through;
}

.old-price-container {
  font-size: 20px;
}

.new-price-container {
  font-size: 30px;
  font-weight: bold;
}

.new-price {
  background: #42ae30;
  color: white;
}

.one-payment {
  font-size: 20px;
}

/* Guarantee */
#guarantee {
  background: #295f4a;
  padding: 30px;
  margin-top: 20px;
}

.guarantee-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  color: white;
}

.guarantee-container img {
  width: 200px;
}

.guarantee-container div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 320px;
}

.guarantee-container h3 {
  margin: 0;
}

.guarantee-container p {
  font-size: 14px;
}

/* Pop-up */
.popup-notification {
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #42ae30; /* Fundo roxo elegante */
  color: white;
  padding: 15px 25px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
  z-index: 1000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  animation: fadeIn 0.5s ease-out;
}

/* Animação de fade-in para o pop-up */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 0.95;
    transform: translateY(0);
  }
}

/* Faq Section */

#faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

#faq-container {
  width: 330px;
}

.question-container {
  border: 1px solid #333;
  padding: 10px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer-container {
  display: none;
}

.answer-container-open {
  display: block;
  margin: 20px 0 0;
}

@media screen and (max-width: 768px) {
  /* Header */
  h2 {
    font-size: 20px;
  }

  #header {
    font-size: 20px;
  }

  /* Botão */
  .buy-button {
    font-size: 12px;
  }

  /* Oferta */
  #offer {
    gap: 20px;
  }

  .super-offer-text h2 {
    margin: 10px 0;
  }

  .forever-access {
    top: 135px;
  }

  .offer-container,
  .simple-offer-container {
    width: 330px;
    margin: 0;
  }

  /* Guarantee */
  .guarantee-container div {
    text-align: center;
  }
}
